<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona logowania</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script type="importmap">
      {
        "imports": {
          "@material/web/": "https://esm.run/@material/web/"
        }
      }
    </script>
    <script type="module">
      import '@material/web/all.js';
      import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';

      document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>

    {% load static %}
    <link rel="stylesheet" href="{% static "/style.css" %}">
</head>
<body>
    <div style="width: 50%; margin: 50px auto auto;">
        <div class="surface">
            <md-elevation></md-elevation>
            <h1 class="md-typescale-display-medium-prominent width-100 text-center">Zaloguj się</h1>
            <form action="/home/" method="post">
                <md-outlined-text-field label="Login" name="login" class="width-100"></md-outlined-text-field>
                <br/>
                <br/>
                <md-outlined-text-field label="Hasło" name="password" type="password" class="width-100"></md-outlined-text-field>
                <br/>
                <br/>
                <md-outlined-button type="submit" class="width-100">Zaloguj się</md-outlined-button>
            </form>
            <br/>
            {% if error %}
                <md-suggestion-chip label="Niepoprawny login lub hasło" class="width-100 text-center" style="--md-suggestion-chip-outline-color: #DE3730; --md-suggestion-chip-label-text-color: #DE3730; "></md-suggestion-chip>
            {% endif %}
        </div>
    </div>
</body>
</html>