<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uczniowie</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script type="importmap">
      {
        "imports": {
          "@material/web/": "https://esm.run/@material/web/"
        }
      }
    </script>
    <script type="module">
      import '@material/web/all.js';
      import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';

      document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>

    {% load static %}
    <link rel="stylesheet" href="{% static "/style.css" %}">

    {% if changed %}
        <meta http-equiv="refresh" content="0; /studentclass/?id={{ class }}" />
    {% endif %}
</head>
<body>
    <div style="width: 50%; margin: 50px auto auto;">
        <div class="surface">
            <md-elevation></md-elevation>
            <h1 class="md-typescale-display-medium-prominent width-100 text-center">Klasa</h1>
            <form action="?id={{ id }}" method="post">
                <md-outlined-text-field disabled="true" label="Nazwa" name="name" value="{{ data.0 }}" class="width-100"></md-outlined-text-field>
                <br/>
                <br/>
                <md-outlined-select disabled="" label="Nauczyciel" name="teacher" class="width-100">
                    <md-select-option selected>
                        <div slot="headline">{{ data.1 }} {{ data.2 }}</div>
                    </md-select-option>
                </md-outlined-select>
                <br/>
                <br/>
                <md-outlined-button type="button" class="width-100" href="/home/">Wróć</md-outlined-button>
            </form>
            <br/>
        </div>
    </div>

    <div style="width: 50%; margin: 50px auto auto;">
        <div class="surface">
            <md-elevation></md-elevation>
            <table class="md-typescale-body-large width-100">
                <h1 class="md-typescale-display-small text-center">Uczniowie</h1>
                <tr>
                    <th style="text-align: left; width: 20%">Nazwisko</th>
                    <th style="width: 15%">Imię</th>
                    <th>PESEL</th>
                    <th style="width: 15%">&nbsp;</th>
                </tr>
                {% for student in students %}
                    <tr>
                        <td>{{ student.2 }}</td>
                        <td class="text-center">{{ student.1 }}</td>
                        <td class="text-center">{{ student.3 }}</td>
                        <td><md-outlined-button class="width-100" href="/studentclass/?deleteId={{ student.0 }}">Usuń</md-outlined-button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div style="width: 50%; margin: 50px auto auto;">
        <div class="surface">
            <md-elevation></md-elevation>
            <table class="md-typescale-body-large width-100">
                <h1 class="md-typescale-display-small text-center">Dodaj ucznia</h1>
                <tr>
                    <th style="text-align: left; width: 20%">Nazwisko</th>
                    <th style="width: 15%">Imię</th>
                    <th>PESEL</th>
                    <th style="width: 15%">&nbsp;</th>
                </tr>
                {% for student in studentsAdd %}
                    <tr>
                        <td>{{ student.2 }}</td>
                        <td class="text-center">{{ student.1 }}</td>
                        <td class="text-center">{{ student.3 }}</td>
                        <td><md-outlined-button class="width-100" href="/studentclass/?addId={{ student.0 }}">Dodaj</md-outlined-button></td>
                    </tr>
                {% endfor %}
            </table>
            <br/>
            <br/>
            <md-outlined-button type="button" class="width-100" href="/home/">Wróć</md-outlined-button>
        </div>
    </div>
</body>
</html>